.env
.env.backup
.env.production
.git
.idea
.phpunit.cache
.phpunit.result.cache
.vscode
node_modules
public/build
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
vendor
